a {
    cursor: pointer;
    text-decoration: none;
}

.ngx-datatable * {
    text-align: center;
}

.cell-wrap {
    text-align: center;
}

.header-wrap {
    white-space: normal !important;
    word-wrap: break-word !important;
}

button {
    margin-right: 1vw;
    background: #43536d;
    color: white;
    font-size: 15px;
    height: auto;
    width: 200px;
}