<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<!--<ngx-spinner *ngIf="service.spinnerLoad">-->
<!--    <p style="color: white">-->
<!--        FI Status Loading ...-->
<!--    </p>-->
<!--</ngx-spinner>-->
<div class="panel-header panel-header-sm"></div>
<div class="main-content">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">GHQR DECAL GENERATOR</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <!--                    <div class="col-md-1"></div>-->
                    <div class="col-md-12">
                        <form>
                            <div class="row">
                                <div class="col-md-3 offset-md-1 form-group has-label">
                                    <label> Bank Code </label>
                                    <input type="text" id="bankCode" class="form-control" value="{{this.bankCode}}"
                                           disabled/>
                                </div>
                                <div class="col-md-3 form-group has-label">
                                    <label> From Terminal ID *</label>
                                    <input type="number" id="from" class="form-control" (change)="setMax()"
                                    />
                                </div>
                                <div class="col-md-3 form-group has-label">
                                    <label> To Terminal ID * </label>
<!--                                    <input type="number" id="to" class="form-control" [max]="max" [min]="this.from"-->
<!--                                           [value]="this.max"-->
<!--                                    />-->
                                    <input type="number" id="to" class="form-control" [max]="max" [min]="this.from"
                                           [value]="this.max"
                                    />
                                    <span style="color: red; font-size: smaller">*Max of 100 terminals per request</span>
                                </div>
                                <div class="col-md-2 align-down">
                                    <button
                                            type="button"
                                            class="btn btn-success"
                                            (click)="submit()"
                                    >
                                        Submit
                                    </button>
                                    <!-- (click)="confirmClearTable()"  (click)="onRegister()" [disabled]="registerForm.status != 'VALID'"-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-10 offset-md-1" *ngIf="current_image !== ''">
            <div class="card-body">
                <!--                <div class="row offset-md-3">-->

                <div class="carousel-inner" role="listbox">
                    <div class="  carousel-item active " style="text-align: center; min-height: 500px">
                        <figure>
                            <figcaption><h3 id="caphead">{{ merchant_name }}</h3></figcaption>
                            <img style="text-align: center" [src]=current_image alt="Decal Image" height="400"
                                 width="400"
                                 id="img1">
                            <figcaption>
                                <h3 class="cap">ID : {{ merchant_id }}</h3>
                                <h3 class="cap">Terminal ID : {{ terminal_id }}</h3>
                                <span class="cap">{{ current + 1 }} of {{ data.length }}</span>
                            </figcaption>
                        </figure>
                    </div>
                    <!--                            <div class="carousel-item" id="img2">-->
                    <!--                                <img class="d-block" src="/assets/img/angular2-logo-white.png" alt="Second slide">-->
                    <!--                            </div>-->
                    <!--                            <div class="carousel-item" id="img3">-->
                    <!--                                <img class="d-block" src="/assets/img/mike.jpg" alt="Third slide">-->
                    <!--                            </div>-->
                </div>


                <!--                </div>-->
                <div class="row">
                    <span class="col-md-2 offset-md-1 col-3" title="Previous Decal">
<!--                        <button [disabled]="0==current || current==-1"-->
                        <!--                                class="btn btn-fill btn-primary btn-boa btn-round"-->
                        <!--                                (click)="viewSheet(-1)">Prev</button>-->
                        <button [disabled]="0==current || current==-1"
                                class="btn btn-fill btn-primary btn-boa btn-round btn-lg"
                                (click)="viewSheet(-1)"><i class="fa fa-arrow-left"></i>
                        Prev</button>
                    </span>
                    <span class="col-md-2 offset-md-1  col-3" title="Print Current">
                        <button [disabled]="data.length===0" class="btn btn-fill btn-primary btn-round btn-lg"
                                (click)="printPdf()">
                                <i class="fa fa-solid fa-print"></i>&nbsp;&nbsp;
                           Print&nbsp;&nbsp;
                </button>

                    </span>
                    <span class="col-md-2 offset-md-1  col-3" title="Print All">
<!--                        <button [disabled]="data.length===0" class="btn btn-fill btn-primary btn-round"-->
                        <!--                                (click)="printAll()">&nbsp;&nbsp;&nbsp;&nbsp;Print All&nbsp;&nbsp;&nbsp;&nbsp;</button>-->

                         <button [disabled]="data.length===0" class="btn btn-fill btn-primary btn-round btn-lg"
                                 (click)="printAll()">
                             &nbsp;<i class="fa fa-solid fa-print"></i>
                            Print All
                         </button>
                    </span>
                    <span class="col-md-2 offset-md-1 col-3" title="Next Decal">
<!--                        <button [disabled]="data.length===current+1" class="btn btn-fill btn-primary btn-boa btn-round"-->
                        <!--                                (click)="viewSheet(1)">Next</button>-->
                        <button [disabled]="data.length===current+1"
                                class="btn btn-fill btn-primary btn-boa btn-round btn-lg"
                                (click)="viewSheet(1)">Next <i class="fa fa-arrow-right"></i>
                        </button>
                    </span>
                </div>
            </div>
            <!-- end content-->
        </div>
    </div>
</div>


<div id="main">

</div>
